<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

  <mapping class="app.user.User"/>
  <mapping class="app.customer.Customer"/>
  <mapping class="app.payment.Payment"/>
  <mapping class="app.region.Region"/>
  <mapping class="app.category.Category"/>
  <mapping class="app.check.Check"/>
  <mapping class="app.bank.Bank"/>
  <mapping class="app.city.City"/>
  <mapping class="app.bill.Bill"/>
  <mapping class="app.supplier.Supplier"/>
  <mapping class="app.order.Order"/>
  <mapping class="app.intemployee.Intemployee"/>
  <mapping class="app.item.Item"/>
  <mapping class="app.item.ItemSupplier"/>
  <mapping class="app.orderline.Orderline"/>
  <mapping class="app.extemployee.Extemployee"/>
  <mapping class="app.cash.Cash"/>
</session-factory>
</hibernate-configuration>
